body{
    background-image: url(https://singularity-ffc.s3.amazonaws.com/products/91488/images/91488_91ec14c2-373b-4a1c-9154-12823aef3710.gif);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 13px;
}

.pictures{
    width: 100%;
    height: 100%;
    object-fit: cover;   
    opacity: 1;
    transition: .5 ease;
    border-radius: 10px;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: blanchedalmond;
    border-radius: 10px;
  }

  .goal1:hover .overlay {
    opacity: 0.7;
  }

  .goal2:hover .overlay {
    opacity: 0.7;
  }

  .goal3:hover .overlay {
    opacity: 0.7;
  }

  .goal4:hover .overlay {
    opacity: 0.7;
  }

  .goal5:hover .overlay {
    opacity: 0.7;
  }

  .goal6:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    background-color: rgba(144, 96, 48, 0.747);
    padding: 16px 32px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.goal1 { 
    grid-area: 1 / 1 / 2 / 3; 
    position: relative;
}

.goal2 { 
    grid-area: 1 / 3 / 3 / 5;
    position: relative;
}

.goal3 { 
    grid-area: 1 / 5 / 2 / 7; 
    position: relative;
}

.goal4 { 
    grid-area: 2 / 1 / 4 / 3; 
    position: relative;
}

.goal5 { 
    grid-area: 3 / 3 / 4 / 5; 
    position: relative;
}

.goal6 { 
    grid-area: 2 / 5 / 4 / 7; 
    position: relative;
}

.carousel-inner {
  height: 600px;
}

.caroimg{
  height: 600px;
}


.headingcaro{
  font-size: 100px;
}

.pics{
  display:flex;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  justify-items:center;
  }

.num1{
  height: 100%;
  width: 471px;
  flex-grow: 1000;
  display:inline-block;
}

.flip-card {
  border-radius: 25px;
  background-color: transparent;
  width: 600px;
  height: 500px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

/* positioning */
.flip-card-in {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* typee of flip */
.flip-card:hover .flip-card-in {
  transform: rotateY(180deg);
}

/* Position front n back */
.flip-card-front, .flip-card-back {
  border-radius: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* front style */
.flip-card-front {
  background-color: rgb(124, 58, 58);
  color: black;
}

/* back style */
.flip-card-back {
  background-color: rgb(90, 47, 47);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

.num2{
  height: 100%;
  min-width:471px;
  flex-grow: 1000;
  display:inline-block;
  font-size: 12.5px;
}

.wrapper {
  display: -webkit-box;
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.wrapper {
  display: -webkit-box;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  background: white;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card .info h1 {
  margin: 0px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 11px;
  margin-top: 3px;
}
.card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.card .info button:hover {
  background: rgb(255, 184, 30);
  color: white;
}