body { background-image: url("IMG_7052.JPG");
        background-repeat: repeat;
        background-size: 100%;
        opacity: .5;
}
head { text-align: center;
        font-family: Didot, serif;
        color: white;
}